
/* Split the screen in half */
.split {
    height: 45%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.left-up {
    left: 0;
    top: 10%;
}

.left-down {
    left: 0;
    bottom: 0;
}

.right-up {
    right: 0;
    top: 10%;
}

.right-down {
    right: 0;
    bottom: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}